body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.container-login {
    width: 400px;
    margin: 0 auto;
}

.container-esqueci-senha, .container-redefinir-senha {
    width: 300px;
    margin: 0 auto;
}

.titulo {
    margin-bottom: 30px;
    text-transform: uppercase;
}

.invisivel {
    display: none;
}

.modal {
    overflow-y: hidden;
}

body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
    margin-right: 0px;
}

#mensagem_grid {
    height: 100px;
    text-align: center;
    border: 1px solid #dddddd;
    line-height: 100px;
}

#grid_cadastro thead tr th span {
    cursor: pointer;
}
