@{
    ViewBag.Title = "Filtro - Relatório de Ressuprimento";
}
@section scripts{
    <script>
        $(document)
            .on('click', '#btnExibir', function () {
                var url = '@Url.Action("ValidarFiltro")',
                    minimo = parseFloat($('#minimo').val()),
                    param = { minimo };

                $.post(url, param, function (response) {
                    if (response.ok) {
                        $('#mensagem').empty().addClass('invisible');
                        var urlRelat = '@Url.Action("Index", new { minimo = "-1" })'.replace('-1', minimo);
                        window.open(urlRelat, '_blank');
                    }
                    else {
                        $('#mensagem').text(response.mensagem).removeClass('invisible');
                    }
                });
            });
    </script>
}
<div class="row">
    <div style="margin: 15px" class="col-md-12">
        <div class="col-md-offset-3 col-md-6">
            <h3 class="text-center">@ViewBag.Title</h3>
            <hr />
            <span id="mensagem" class="invisible text-danger"></span>
            <div class="row">
                <div class="form-group col-md-5">
                    <label for="minimo" class="control-label">Quantidade Mínima</label>
                    @Html.TextBox("minimo", "", new { type = "number", @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <button type="button" id="btnExibir" class="btn btn-primary" role="button">
                        <i class="glyphicon glyphicon-forward"></i> Exibir Relatório
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>